<div class="container">
  <div class="grid my-4">
    <p class="text-[30px] font-[600] text-[#924294]">SOCIAL MEDIA POSTS</p>
  </div>
  <div class="bg-white border-[1px] border-[#D9D9D9] rounded-[10px] p-[20px]">
    <p class="text-[24px] font-[400] mb-[15px]">FILTERS:</p>
    <div class="grid grid-cols-5 gap-x-5">
      <div>
        <p class="text-[12px] font-[400] text-[#767F84] mb-1">Start Date</p>
        <div class="relative max-w-sm">
          <div class="absolute inset-y-0 right-0 flex items-center pr-3.5 pointer-events-none">
            <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.90625 2.5H8.84375V1.40625C8.84375 1.05078 9.11719 0.75 9.5 0.75C9.85547 0.75 10.1562 1.05078 10.1562 1.40625V2.5H11.25C12.207 2.5 13 3.29297 13 4.25V13C13 13.9844 12.207 14.75 11.25 14.75H2.5C1.51562 14.75 0.75 13.9844 0.75 13V4.25C0.75 3.29297 1.51562 2.5 2.5 2.5H3.59375V1.40625C3.59375 1.05078 3.86719 0.75 4.25 0.75C4.60547 0.75 4.90625 1.05078 4.90625 1.40625V2.5ZM2.0625 13C2.0625 13.2461 2.25391 13.4375 2.5 13.4375H11.25C11.4688 13.4375 11.6875 13.2461 11.6875 13V6H2.0625V13Z" fill="#767F84"/>
            </svg>
          </div>
          <input datepicker datepicker-autohide type="text" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="DD/MM/YYYY">
        </div>
      </div>
      <div>
        <p class="text-[12px] font-[400] text-[#767F84] mb-1">End Date</p>
        <div class="relative max-w-sm">
          <div class="absolute inset-y-0 right-0 flex items-center pr-3.5 pointer-events-none">
            <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.90625 2.5H8.84375V1.40625C8.84375 1.05078 9.11719 0.75 9.5 0.75C9.85547 0.75 10.1562 1.05078 10.1562 1.40625V2.5H11.25C12.207 2.5 13 3.29297 13 4.25V13C13 13.9844 12.207 14.75 11.25 14.75H2.5C1.51562 14.75 0.75 13.9844 0.75 13V4.25C0.75 3.29297 1.51562 2.5 2.5 2.5H3.59375V1.40625C3.59375 1.05078 3.86719 0.75 4.25 0.75C4.60547 0.75 4.90625 1.05078 4.90625 1.40625V2.5ZM2.0625 13C2.0625 13.2461 2.25391 13.4375 2.5 13.4375H11.25C11.4688 13.4375 11.6875 13.2461 11.6875 13V6H2.0625V13Z" fill="#767F84"/>
            </svg>
          </div>
          <input datepicker datepicker-autohide type="text" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="DD/MM/YYYY">
        </div>
      </div>
      <div>
        <p class="text-[12px] font-[400] text-[#767F84] mb-1">Social Media Type</p>
        <select id="countries" class="appearance-none bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          <option selected>Select</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
      </div>
      <div>
        <p class="text-[12px] font-[400] text-[#767F84] mb-1">Custom List</p>
        <select id="countries" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          <option selected>Select</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
      </div>
      <div>
        <p class="text-[12px] font-[400] text-[#767F84] mb-1">Table</p>
        <select id="countries" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          <option selected>Select</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
      </div>
    </div>
    <div class="flex justify-end mt-3 gap-x-2">
      <button type="button" class="text-white bg-[#FF0040] font-medium text-sm px-5 py-2.5 rounded-[1000px]">Clear Filters</button>
      <button type="button" class="text-white bg-[#924294] font-medium text-sm px-5 py-2.5 rounded-[1000px]">Apply Filters</button>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-[#DFE3E6]">
            <thead class="bg-[#EEF4F7]">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-[14px] font-[600] text-[#464B4E] w-1/3 sm:pl-6">Content</th>
                <th scope="col" class="px-3 py-3.5 text-left text-[14px] font-[600] text-[#464B4E] w-1/3">Social Media</th>
                <th scope="col" class="px-3 py-3.5 text-left text-[14px] font-[600] text-[#464B4E] w-1/3">Date Posted</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr>
                <td class="max-w-0 whitespace-nowrap text-ellipsis overflow-hidden py-4 pl-4 pr-3 text-[14px] font-[400] sm:pl-6">Quae vero auctorem tractata ab fiducia dicuntur. Inmensae subtilitatis, obscuris et malesuada fames. Quae vero auctorem tractata ab fiducia dicuntur. Inmensae subtilitatis, obscuris et malesuada fames.</td>
                <td class="max-w-0 whitespace-nowrap text-ellipsis overflow-hidden px-3 py-4 text-[14px] font-[400]">Example Text</td>
                <td class="max-w-0 whitespace-nowrap text-ellipsis overflow-hidden px-3 py-4 text-[14px] font-[400]">Example Text</td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-[14px] font-[600] text-[#464B4E] sm:pr-6 flex items-center justify-end gap-x-6 mr-1">
                  <a href="#">View Post </a>
                  <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.625 5.75C12.625 5.99609 12.5156 6.21484 12.3516 6.37891L7.97656 10.7539C7.73047 11 7.34766 11.082 7.01953 10.9453C6.69141 10.8086 6.5 10.4805 6.5 10.125V7.5H1.25C0.757812 7.5 0.375 7.11719 0.375 6.625V4.875C0.375 4.41016 0.757812 4 1.25 4H6.5V1.375C6.5 1.04688 6.69141 0.71875 7.01953 0.582031C7.34766 0.445312 7.73047 0.527344 7.97656 0.773438L12.3516 5.14844C12.5156 5.3125 12.625 5.53125 12.625 5.75Z" fill="#464B4E"/>
                  </svg>
                </td>
              </tr>
              <%# <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-[14px] font-[400] sm:pl-6 text-ellipsis overflow-hidden">Example Text</td>
                <td class="whitespace-nowrap px-3 py-4 text-[14px] font-[400]">Example Text</td>
                <td class="whitespace-nowrap px-3 py-4 text-[14px] font-[400]">Example Text</td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-[14px] font-[600] text-[#464B4E] sm:pr-6 flex items-center justify-end gap-x-6 mr-1">
                  <a href="#">View Post </a>
                  <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.625 5.75C12.625 5.99609 12.5156 6.21484 12.3516 6.37891L7.97656 10.7539C7.73047 11 7.34766 11.082 7.01953 10.9453C6.69141 10.8086 6.5 10.4805 6.5 10.125V7.5H1.25C0.757812 7.5 0.375 7.11719 0.375 6.625V4.875C0.375 4.41016 0.757812 4 1.25 4H6.5V1.375C6.5 1.04688 6.69141 0.71875 7.01953 0.582031C7.34766 0.445312 7.73047 0.527344 7.97656 0.773438L12.3516 5.14844C12.5156 5.3125 12.625 5.53125 12.625 5.75Z" fill="#464B4E"/>
                  </svg>
                </td>
              </tr> %>
              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
